<%- include("layout/header") %>
<main
  class="d-flex justify-content-center align-items-center min-vh-100 custom-padding"
>
  <a href="/g2Test" style="font-size: 24px" class="btn btn-primary m-2 p-4"
    >G2 Test</a
  >

  <a href="/gTest" style="font-size: 24px" class="btn btn-primary m-2 p-4"
    >g Test</a
  >
</main>
<%- include("layout/footer") %>
