<!-- result.ejs -->

<%- include("layout/header") %>

<main
  class="d-flex justify-content-center align-items-center min-vh-100 custom-padding"
>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title text-center mb-4">G Test Results</h2>

            <!-- Status Section -->
            <div class="mb-3 d-flex">
              <p><b>Status: </b></p>
              <% if (data.isGTestPassed === null) { %>
              <p>Pending</p>
              <% } else if (data.isGTestPassed) { %>
              <p>Passed</p>
              <% } else { %>
              <p>Failed</p>
              <% } %>
            </div>

            <% if (data.comments.length) { %>

            <div
              class="mb-3 comment-section"
              onmouseover="highlightCommentSection()"
              onmouseout="unhighlightCommentSection()"
            >
              <h4>Comments:</h4>
              <ul id="commentList">
                <% data.comments.forEach((comment) => { %>
                <li style="list-style-type: none;"><%= comment.text %></li>
                <% }); %>
              </ul>
            </div>
            <% } %> <% if (data.isGTestPassed === false) { %>
            <button class="btn btn-primary" onclick="bookAppointment()">
              Book Appointment Again
            </button>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include("layout/footer") %>
<script>
  function goToG() {
    window.location.href = "/gTest";
  }
  function bookAppointment() {
    window.location.href = "/appointmentSlot";
  }
  function highlightCommentSection() {
    document.querySelector(".comment-section").style.borderColor = "#007bff";
  }

  function unhighlightCommentSection() {
    document.querySelector(".comment-section").style.borderColor =
      "transparent";
  }
</script>
