<%- include("layout/header") %>

<div class="banner-container text-center">
    <img src="/imgs/test1.jpg" alt="Banner Image" class="img-fluid mb-4">
</div>

<div class="h-100 d-flex align-items-center justify-content-center flex-column custom-padding">
    <h1 style="font-size: 60px">Dashboard</h1>
    <p style="color: white">DriveTest Booking Kiosk</p>
</div>

<%- include("layout/footer") %>
